@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.nav-link {
  color: white !important;
  transition: 0.2s;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
