@import "./base.css";

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: 400;
  min-height: 100vh;
}

.nav-link {
  color: white !important;
  transition: 0.2s;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
